/*the <li> items are block level elements. Add correct styles to remove the bullets and display them as inline elements.*/
li.block {
    display: inline;
    list-style-type: none;
}

/*The three <span> elements should be displayed as block elements with a 1 pixel border and 25 pixel margin on all sides.*/
span.inline {
    display: block;
    border:  1px solid black;
    margin: 25px;
}

/*In the article element with the class n-child, add a 1 pixel border around every even numbered section element.*/
article.n-child:nth-child(even) {
    border: 1px;

}